<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">

    <!-- font/bootstrap-icons.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- font/bootstrap-icons.css -->

    <!-- bootstrap.min.css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap.min.css -->

    <!-- bootstrap.bundle.min.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- bootstrap.bundle.min.js -->

    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <!-- google font -->

    <!-- animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- animate.css -->
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <span class="logo" id="ik">ik</span>
                    <span class="">Web Design</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="userindex">Homepage 1</a></li>
                                <li><a class="dropdown-item" href="#">Homepage 2</a></li>
                                <li><a class="dropdown-item" href="#">Homepage 3</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="usershop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="userblog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="userAbout">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="userContact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usercart">Cart</a>
                        </li>
                    </ul>

                    <form class="d-flex position-relative">
                        <i class="bi bi-search-heart lh-lg"></i>
                        <button class="btn btn" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                                class="bi bi-cart4 ">
                                <div class="position-absolute box">
                                    <p>0</p>
                                </div>
                            </i></button>
                        <i class="bi bi-heart lh-lg">
                            <div class="position-absolute box">
                                <p>2</p>
                            </div>
                        </i>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasScrollingLabel">YOUR CART</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            <div id="ofsec">
                <div id="ofpa">
                    <div id="ofch">
                        <div id="peta-a"><img src="img/item-cart-01.jpg" alt=""></div>
                        <div id="peta-b">
                            <p>White Shirt Pleat</p>
                            <p>1 x $19.0</p>
                            <span>Free Delivery in 2-3 days</span>
                        </div>
                    </div>
                    <div id="ofch">
                        <div id="peta-a"><img src="img/item-cart-02.jpg" alt=""></div>
                        <div id="peta-b">
                            <p>Nike Shoes</p>
                            <p>1 x $200.0</p>
                            <span>Free Delivery in 2-3 days</span>
                        </div>
                    </div>
                    <div id="ofch">
                        <div id="peta-a"><img src="img/item-cart-03.jpg" alt=""></div>
                        <div id="peta-b">
                            <p>Nixon Porter Leather</p>
                            <p>1 x $17.00</p>
                            <span>Free Delivery in 2-3 days</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="oftotle">
                <div id="ofsub">
                    <p>Total: $236.00</p>
                </div>
            </div>

            <div id="ofbtn">
                <div id="ofsubbtn">
                    <a href="cart.html" class="btn">VEIW CART</a>
                    <button class="btn">CHECAK OUT</button>
                </div>
            </div>

        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
        aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>

    <section id="A-section-1">
        <div id="A-parent-1">
            <div id="A-child-1">
                <h1>Contact Us</h1>
            </div>
        </div>
    </section>

    <section id="C-section-1">
        <div id="C-parent-1">
            <div id="C-child-1">
                <form action="contact" method="post">
                <div class="h-100">
                    
                            <center><h2 class="fs-4 pt-4">Send Us A Message</h2></center>
                        <div class=" mt-4 mb-3 form-control d-flex align-content-center justify-content-center" id="Email">
                            <i class="bi bi-people-fill"></i>
                            <input type="text" placeholder="Your User Name" name="user">
                        </div>
                        <div class=" mt-4 mb-3 form-control d-flex align-content-center justify-content-center" id="Email">
                            <i class="bi bi-envelope-at-fill"></i>
                            <input type="email" placeholder="Your Email Address" name="email">
                        </div>
    
                        <div class=" mt-4 mb-3 form-control d-flex align-content-center justify-content-center" id="Email">
                            <i class="bi bi-telephone-inbound"></i>
                            <input type="text" placeholder="Your Mobile Number" name="mobile">
                        </div>
    
                        <textarea name="message" id="" cols="30" rows="5" class="form-control" itemid="Email" placeholder="How Can We Help?" ></textarea>
                        <button class="btn form-control mt-3" type="submit">Send Message</button> <br>
                        <span class="text-success text-center"><%=info[0]%>...</span>

                    </div>
                </form>


                </div>
            <div id="C-child-1" class="p-5">
                <div class="h-100 p-3 mt-4">
                    <div id="C-child-1peta" class="d-flex align-items-center justify-content-center">
                        <div id="C-child-1peta-a" class="d-flex justify-content-end"><i class="bi bi-geo-alt"></i></div>
                        <div id="C-child-1peta-b">
                            <h2 class="fs-5 pt-3">Address</h2>
                            <p>Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US</p>
                        </div>
                    </div>
                    <div id="C-child-1peta" class="d-flex align-items-center justify-content-center">
                        <div id="C-child-1peta-a" class="d-flex justify-content-end"><i class="bi bi-telephone-inbound"></i></div>
                        <div id="C-child-1peta-b">
                            <h2 class="fs-5 pt-3">Lets Talk</h2>
                            <b class="text-info">+1 800 1236879 <br></b>
                            <b class="text-info">+1 800 9876549</b>
                        </div>
                    </div>
                    <div id="C-child-1peta" class="d-flex align-items-center justify-content-center">
                        <div id="C-child-1peta-a" class="d-flex justify-content-end"><i class="bi bi-envelope-fill"></i></div>
                        <div id="C-child-1peta-b">
                            <h2 class="fs-5 pt-3">Sale Support</h2>
                            <b class="text-info">contact@example.com</b>
                            <b class="text-info">contact@example_ex.com</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map">
       <div id="map-parent">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.6568112520667!2d70.77624847506912!3d22.290986379693223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959cb147744699d%3A0x2060a6cbc4a6e0bd!2sRed%20%26%20White%20Multimedia%20Education%20-%20Kalawad%20Road!5e0!3m2!1sen!2sin!4v1700026778277!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </section>

    <footer>
        <div id="foot">
            <div id="foot1" class="row">
                <div id="foot1a" class="col-sm-12 col-md-6 col-lg-3">
                    <h2>CATEGORIES</h2>
                    <a href="">Women</a>
                    <a href="">Men</a>
                    <a href="">Shoes</a>
                    <a href="">Watches</a>
                </div>
                <div id="foot1a" class="col-sm-12 col-md-6 col-lg-3">
                    <h2>HELP</h2>
                    <a href="">Track Order</a>
                    <a href="">Returns</a>
                    <a href="">Shipping</a>
                    <a href="">FAQs</a>
                </div>
                <div id="foot1a" class="col-sm-12 col-md-6 col-lg-3">
                    <h2>GET IN TOUCH</h2>
                    <p>Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                        (+1) 96 716 6879</p>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                </div>
                <div id="foot1a" class="col-sm-12 col-md-6 col-lg-3">
                    <h2>NEWSLETTER</h2>
                    <input type="text" placeholder="email@example.com">
                    <button>SUBSCRIBE</button>
                </div>
            </div>
            <div id="foot2">
                <div id="footimg">
                    <center>
                        <img src="img/icon-pay-01.png" alt="">
                        <img src="img/icon-pay-02.png" alt="">
                        <img src="img/icon-pay-03.png" alt="">
                        <img src="img/icon-pay-04.png" alt="">
                        <img src="img/icon-pay-05.png" alt="">
                    </center>
                </div>
                <div id="copyright">
                    <center>
                        <p class="fs-5 pt-4 text-light">Copyright ©2023 All rights reserved | This template is made with
                            by <span class="text-info"><i class="bi bi-heart text-info"></i>Ishvar Kanzariya</span></p>
                    </center>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>

</html>